* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: auto;
    margin-bottom: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
    cursor: pointer;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 90%;
    height: 80%;
    margin: 3em auto;
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    opacity: 1;

}
.image-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 30%;
}
.color-filter {
    position: absolute;
    background-color: hsl(277, 64%, 61%);
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    opacity: 0.5;
}
.about {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 2em auto;
}
.title {
   font-size: 1.7em;
   font-weight: 700;
}
.purple {
    color: hsl(277, 64%, 61%);
}
.description {
    font-size: 15px;
    color:hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
    margin: 2em auto;
}

.data-list {
    list-style: none;
    margin: 1em 0 auto;
}
.data {
    font-size: 1.3em;
}
.data-description {
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    margin: 0.5em auto;
}
.data-li {
    margin-bottom: 1em;
}
@media (min-width: 900px) {
    body {
        height: 100vh;
        width: 100vw;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        border-top-left-radius: 8px;
        height: 300px;
        width: 900px;
        max-width: 80%;
        min-height: 50%;
        transform: translate(0%, 30%);
    }
    .image-container {
        height: 100%;
        min-width: 50%;
    }
    .color-filter,
    .image {
        border-top-left-radius: 0px;
        border-bottom-right-radius: 8px;
    }
    .about {
        margin: 4em 0.5em 1em 2em;
        max-width: 50%;
        max-height: 100%;
    }
    .title,
    .description,
    .data-list {
        text-align: left;
        width: 80%;
    }
    .data-li {
        margin-right: 2rem;
        margin-top: auto;
        margin-bottom: 1rem;
    }
    .data-list {
        display: flex;
        flex-direction: row;
    }
    .description {
        margin-top: 2rem;
    }
}
